.body_backgorund {
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas{
   border: 10px ridge darkviolet;
   background-color: white;
}

